.wood {
    background: url("../images/background.jpg") no-repeat scroll 0px 100% / cover transparent;
}

.wood2 {
    background: url("../images/wood2.png") no-repeat scroll 0px 100% / cover transparent;
}

.lightblue {
    background-color: lightblue;
}

/*textarea {
    width: 250px;
    height: 100px;
  }*/

textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
    resize: both;
}

textarea:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
    background-color: #f9f9ff;
}

td:hover {
    background-color: yellow;
}